@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tw-animate-css";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --default-font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --background: #f7f7fb;

  --black: #111111;
  --white: #ffffff;

  --blue-1: #e6f2fc;
  --blue-2: #c2ddf8;
  --blue-3: #9cc9f5;
  --blue-4: #77b4f0;
  --blue-5: #5da4ef;
  --blue-6: #4896ec;
  --blue-7: #4188de;
  --blue-8: #3776cb;
  --blue-9: #2f66ba;
  --blue-10: #1f489b;

  --gray-1: #f7f7f5;
  --gray-2: #dbdbdb;
  --gray-3: #999999;
  --gray-4: #505050;

  --red: #f24949;
  --green: #64b875;
  --yellow: #f09436;

  --gradient-blue-1: linear-gradient(135deg, var(--blue-5), var(--blue-2));
  --gradient-blue-2: linear-gradient(135deg, var(--blue-8), var(--blue-5));
  --gradient-blue-3: linear-gradient(135deg, var(--blue-10), var(--blue-8));

  --graph-gradient: linear-gradient(to bottom, #4896ec52, transparent);
}

@theme inline {
  --color-background: var(--background);

  --color-black: var(--black);
  --color-white: var(--white);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
}

@layer base {
  body {
    @apply bg-background;
  }

  @layer utilities {
    .bg-gradient-blue-1 {
      background: var(--gradient-blue-1);
    }
    .bg-gradient-blue-2 {
      background: var(--gradient-blue-2);
    }
    .bg-gradient-blue-3 {
      background: var(--gradient-blue-3);
    }
    .bg-graph-gradient {
      background: var(--graph-gradient);
    }

    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
